<div class="card activity-stream">
  <div class="card-header">
    <strong>Activity</strong>
  </div>
  <ul class="list-group list-group-flush">
    <% if activity.present? %>
      <% activity.each do |a| %>
        <%- case a.auditable_type -%>
        <%- when 'User' -%>
          <%- case a.action -%>
          <%- when 'create' -%>
            <%= activity_entry icon('user-plus'), a.created_at do %>
              <%= a.user_email %> joined the hub
            <% end %>
          <%- end -%>
        <%- when 'Project' -%>
          <%- case a.action -%>
          <%- when 'create' -%>
            <%= activity_entry icon('cube'), a.created_at do %>
              <%= a.user_email %> created a new project:
              <%= link_to a.auditable_descriptor, project_path(a.auditable_id), class: 'text-monospace' %>
            <% end %>
          <%- when 'destroy' -%>
            <%= activity_entry icon('cube'), a.created_at do %>
              <%= a.user_email %> deleted project:
              <span class="text-monospace"><%= a.auditable_descriptor %></span>
            <% end %>
          <%- end -%>
        <%- when 'Resource' -%>
          <%- case a.action -%>
          <%- when 'request_create' -%>
            <%= activity_entry resource_icon(a.auditable_model_name), a.created_at do %>
              <% if a.user_email %>
                <%= a.user_email %> requested a new resource:
              <% else %>
                A new resource has been requested:
              <% end %>
              <span class="font-weight-bold">
                <%= a.auditable_descriptor %>
              </span>
              <% status = 'pending' %>
              <%= tag.span(status, class: "badge badge-#{resource_status_class(status)}") %>
              for project:
              <%= link_to a.associated_descriptor, project_path(a.associated_id), class: 'text-monospace' %>
            <% end %>
          <%- when 'update' -%>
            <% status_changes = Array(a.audited_changes['status']).flatten %>
            <% if status_changes.uniq.size == 2 && status_changes.last != Resource.statuses[:deleting] %>
              <%= activity_entry resource_icon(a.auditable_model_name), a.created_at do %>
                Resource
                <span class="font-weight-bold">
                  <%= a.auditable_descriptor %>
                </span>
                is now
                <% status = a.audited_changes['status'].last %>
                <%= tag.span(status, class: "badge badge-#{resource_status_class(status)}") %>
                for project:
                <%= link_to a.associated_descriptor, project_path(a.associated_id), class: 'text-monospace' %>
              <% end %>
            <% end %>
          <%- when 'request_delete' -%>
            <%= activity_entry resource_icon(a.auditable_model_name), a.created_at do %>
              <% if a.user_email %>
                <%= a.user_email %> requested deletion of resource:
              <% else %>
                A resource has been requested to be deleted:
              <% end %>
              <%= a.user_email %>
              <span class="font-weight-bold">
                <%= a.auditable_descriptor %>
              </span>
              <% status = 'deleting' %>
              <%= tag.span(status, class: "badge badge-#{resource_status_class(status)}") %>
              for project:
              <%= link_to a.associated_descriptor, project_path(a.associated_id), class: 'text-monospace' %>
            <% end %>
          <%- when 'destroy' -%>
            <%= activity_entry resource_icon(a.auditable_model_name), a.created_at do %>
              <% if a.user_email %>
                <%= a.user_email %> deleted resource:
              <% else %>
                A resource was deleted:
              <% end %>
              <%= a.user_email %>
              <span class="font-weight-bold">
                <%= a.auditable_descriptor %>
              </span>
              for project:
              <%= link_to a.associated_descriptor, project_path(a.associated_id), class: 'text-monospace' %>
            <% end %>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    <% else %>
      <li class="list-group-item text-center none-text">
        No activity yet
      </li>
    <% end %>
  </ul>
</div>
