<div class="project-resources">
  <% grouped_resources.each do |group| %>
    <% resources = group[:resources] %>

    <h2 class="h6 m-0 p-3 bg-light">
      <% if group[:integrations].empty? %>
        <span class="float-right">
          <%=
            icon_with_tooltip(
              'No integrations are currently available for this resource type - a hub admin can set up a new integration if required',
              icon_name: 'exclamation-circle'
            )
          %>
        </span>
      <% else %>
        <%= link_to 'New', new_project_resource_path(project, type: group[:id]), class: 'float-right btn btn-sm btn-primary mr-1 mt-n1' %>
      <% end %>

      <%= resource_icon group[:id] %>
      <strong>
        <%= group[:name] %>
      </strong>
      <span class="text-accent ml-2">(<%= resources.count -%>)</span>
    </h2>

    <div class="list-group list-group-flush">
      <% if resources.present? %>
        <% resources.each do |r| %>
          <%= render partial: 'resources/list-item', locals: { resource: r } %>
        <% end %>
      <% else %>
        <div class="list-group-item text-center">
          <span class="none-text inline-block">
            No resources of this type yet
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
