<h1>Projects</h1>

<% if @projects.blank? %>
  <div class="alert alert-warning">
    No projects created yet
  </div>
<% end %>

<% @projects.each do |project| %>
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <%= icon 'cube' %>
        <%= link_to project.name, project_path(project) %>

        <small class="badge badge-info ml-2 text-monospace">
          <%= project.slug %>
        </small>
      </h5>

      <% if project.description.present? %>
        <div class="card-text mt-3">
          <%= simple_format project.description %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <%= delete_project_link project, css_class: 'float-right btn btn-danger' %>
    </div>
  </div>
<% end %>
