<div class="btn-group float-right" role="group" aria-label="Space actions">
  <button id="projectActionsGroupDropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="projectActionsGroupDropdown">
    <%= link_to 'Edit', edit_project_path(@project), class: 'dropdown-item' %>
    <%= delete_project_link @project, css_class: 'dropdown-item' %>
  </div>
</div>

<h1>
  <%= @project.name %>
</h1>

<div class="mb-2">
  <span class="badge badge-info text-monospace mr-2">
    <%= @project.slug %>
  </span>
  <small class="text-muted">
    Created <%= local_time_ago(@project.created_at) %>
  </small>
</div>

<% if @project.description.present? %>
  <div class="lead">
    <%= simple_format @project.description %>
  </div>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="true">Resources</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
  </li>
</ul>

<div class="tab-content border border-top-0">
  <div class="tab-pane active" id="resources" role="tabpanel" aria-labelledby="resources-tab">
    <% if @project.resources.count > 0 %>
      <%= render partial: 'resources', locals: { project: @project, grouped_resources: @grouped_resources } %>
    <% else %>
      <div class="p-3 text-center">
        <span class="none-text mt-2 inline-block">
          No resources yet
        </span>

        <br />
        <br />

        <%=
          link_to 'Provision a new set of resources',
            provision_project_resources_path(@project),
            method: :post,
            class: 'btn btn-primary',
            role: 'button'
        %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="activity" role="tabpanel" aria-labelledby="activity-tab">
    <%= render partial: 'activity/stream', locals: { activity: @activity } %>
  </div>
</div>
