<% config_spec = integration.provider['config_spec'] %>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      Name: <%= integration.name %>
    </h5>

    <p class="text-muted">
      <%= pluralize integration.resources.count, 'resource' %>
    </p>

    <dl class="row mb-0">
      <% config_spec['properties'].each do |(name, property_spec)| %>
        <dt class="col-md-3">
          <%= config_field_title name, property_spec %>
          <%= config_field_tooltip property_spec['description'] %>
        </dt>
        <dd class="col-md-9">
          <% value = integration.config[name] %>
          <% if value.blank? %>
            <span class="none-text">
              not set
            </span>
          <% else %>
            <% if !property_spec['masked'] || unmask %>
              <%= value -%>
            <% else %>
              <span class="text-muted font-weight-light">
                hidden
              </span>
              <%= link_to 'show all hidden', { unmask: true }, class: 'ml-3' %>
            <% end %>
          <% end %>
        </dd>
      <% end %>
    </dl>
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_admin_integration_path(integration), class: 'btn btn-primary' %>
  </div>
</div>
