<%=
  bootstrap_form_with(
    model: [:admin, integration],
    local: true,
    layout: :horizontal,
    label_col: 'col-md-3',
    control_col: 'col-md-9'
  ) do |form|
%>
  <%= form.alert_message "Please fix the issues below:" %>

  <h5>For: <%= integration.provider['name'] -%></h5>
  <%= form.hidden_field :provider_id %>

  <%= form.text_field :name, layout: :default, input_group_class: 'input-group-lg' %>

  <div class="card mb-3">
    <div class="card-header">
      Config
    </div>
    <div class="card-body">
      <%= form.fields_for :config do |config_fields| %>
        <% spec = integration.provider['config_spec'] %>
        <% spec['properties'].each do |(name, property_spec)| %>
          <%=
            render partial: 'application/forms/json_schema_field',
              locals: {
                form: config_fields,
                name: name,
                property_spec: property_spec,
                is_required: spec['required'].include?(name),
                current_value: integration.config[name],
                include_blank: false
              }
          %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% submit_label = integration.new_record? ? 'Create integration' : 'Update integration' %>
  <%= form.primary submit_label %>
<% end %>
