<%=
  bootstrap_form_with(
    model: [:admin, integration],
    local: true,
    layout: :horizontal,
    label_col: 'col-md-3',
    control_col: 'col-md-9'
  ) do |form|
%>
  <%= form.alert_message "Please fix the issues below:" %>

  <h5>For: <%= integration.provider['name'] -%></h5>
  <%= form.hidden_field :provider_id %>

  <%= form.text_field :name, layout: :default, input_group_class: 'input-group-lg' %>

  <div class="card mb-3">
    <div class="card-header">
      Config
    </div>
    <div class="card-body">
      <%=
        render partial: 'form_fields',
          locals: {
            form: form,
            namespace: :config,
            spec: integration.provider['config_spec'],
            current: integration.config || {}
          }
      %>
    </div>
  </div>

  <% submit_label = integration.new_record? ? 'Create integration' : 'Update integration' %>
  <%= form.primary submit_label %>
<% end %>
