<%=
  bootstrap_form_with(
    model: resource,
    scope: :resource,
    url: project_resources_path(resource.project, type: resource_type[:id]),
    method: :post,
    local: true,
    class: 'resource-form',
    data: {
      controller: 'resource-form',
      'resource-form-integration-id': @resource.integration.id
    }
  ) do |form|
%>
  <%= form.alert_message "Please fix the issues below:" %>

  <%= form.hidden_field :type %>

  <%=
    form.select :integration_id,
      integrations.map { |i| [i.name, i.id] },
      {
        label: label_with_tooltip(
          'For integration',
          'These are set up by a hub admin'
        ),
        required: true
      },
      {
        class: 'selectpicker',
        data: {
          action: 'resource-form#setCurrentIntegration'
        }
      }
  %>

  <%=
    form.text_field :name,
      help: Resource::SLUG_FORMAT_TEXT.capitalize,
      pattern: "^#{Resource::SLUG_FORMAT_REGEX}$"
  %>

  <% integrations.each do |i| %>
    <div data-target="resource-form.section" data-integration-id="<%= i.id -%>">
      <%- case i.provider_id -%>
      <%- when 'git_hub' -%>
        <%= form.fields_for :git_hub do |integration_form| %>
          <% templates = i.config['templates'] %>
          <%=
            integration_form.select :template_url,
              templates.map { |t| [t['name'], t['repo_url']] },
              {
                label: label_with_tooltip(
                  'Initialise with template',
                  'These are set up by a hub admin'
                ),
                include_blank: true
              },
              { class: 'selectpicker' }
          %>
        <% end %>
      <%- end -%>
    </div>
  <% end %>

  <%= form.primary 'Request' %>
<% end %>
