<div class="list-group-item">
  <% unless resource.pending? %>
    <div class="btn-group float-right" role="group" aria-label="Resource actions">
      <button id="resource<%= resource.id -%>ActionsGroupDropdown" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="resource<%= resource.id -%>ActionsGroupDropdown">
        <%= delete_resource_link resource.project_id, resource, css_class: 'dropdown-item' %>
      </div>
    </div>
  <%- end -%>
  <h3 class="h6">
      <%= resource.name %>
    <span class="ml-1 text-muted">
      on <%= resource.integration.name %>
    </span>
    <%= resource_status_badge resource.status, css_class: 'ml-2' %>
  </h3>
  <% unless resource.pending? %>
    <div class="mb-2">
      <%- case resource -%>
      <%- when Resources::CodeRepo -%>
        <span class="badge badge-secondary mr-1">
          <%= resource.private ? 'Private' : 'Public' %>
        </span>
        <% if resource.full_name.present? %>
          <%= link_to resource.full_name, resource.url, target: '_blank' %>
        <% end %>

        <% if resource.integration.provider_id == 'git_hub' %>
          <div class="indented mt-3">
            Enforce best practices
            <%= icon_with_tooltip resource.integration.provider['config_spec']['properties']['enforce_best_practices']['description'] -%>
            <br />
            <span class="font-italic">
              <%= resource.enforce_best_practices %>
            </span>
          </div>
        <% end %>
      <%- when Resources::DockerRepo -%>
        <span class="badge badge-secondary mr-1">
          <%= resource.visibility.try(:capitalize) %>
        </span>
        <% if resource.base_uri.present? %>
          <%= resource.base_uri %>
        <% end %>
      <%- when Resources::KubeNamespace -%>
      <%- end -%>
    </div>

    <div class="indented mt-3">
      <%= link_to me_access_path(anchor: resource.integration.id) do %>
        <%= icon 'key' %>
        Setup access
      <% end %>
    </div>

    <%=
      render partial: 'resources/getting_started',
        locals: {
          resource: resource,
          container_css_class: 'indented mt-3'
        }
    %>

    <% grouped_resources = group_resources_by_resource_type resource.children %>
    <% grouped_resources.each do |group| %>
      <% group[:resources].each do |r| %>
        <div class="indented mt-3">
          <%= resource_icon r %>
          <span class="mr-1">
            <%= group[:name].singularize -%>:
          </span>
          <% if r.active? %>
            <%= link_to r.name, r.url, target: '_blank' %>
          <% else %>
            <%= r.name %>
          <% end %>
          <span class="text-muted ml-1">
            on <%= r.integration.name %>
          </span>
          <%= resource_status_badge r.status, css_class: 'ml-2' %>
          <small class="ml-3">
            <%= delete_resource_link r.project_id, r %>
          </small>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
