<div class="list-group-item">
  <div class="row">
    <div class="col">
      <h3 class="h6">
        <%= resource.name %>
        <span class="text-muted">
          on <%= resource.integration.name %>
        </span>
        <%= tag.span(resource.status, class: "badge badge-#{resource_status_class(resource.status)} text-capitalize ml-2") %>
      </h3>
      <% unless resource.pending? %>
        <div>
          <%- case resource -%>
          <%- when Resources::CodeRepo -%>
            <%= link_to resource.full_name, resource.url, target: '_blank' %>
            <span class="badge badge-secondary ml-2">
              <%= resource.private ? 'Private' : 'Public' %>
            </span>
          <%- when Resources::DockerRepo -%>
            <%= resource.base_uri %>
            <span class="badge badge-secondary ml-2">
              <%= resource.visibility.try(:capitalize) %>
            </span>
          <%- when Resources::KubeNamespace -%>
          <%- end -%>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-3">
      <% unless resource.pending? %>
        <div class="btn-group float-right" role="group" aria-label="Resource actions">
          <button id="resource<%= resource.id -%>ActionsGroupDropdown" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="resource<%= resource.id -%>ActionsGroupDropdown">
            <%= delete_resource_link resource.project_id, resource, css_class: 'dropdown-item' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <% unless resource.pending? %>
        <% credentials = global_credentials_for resource %>
          <% if credentials.present? %>
            <% panel_id = "credentials-panel-#{resource.id}" %>
              <%=
                tag.a(
                  href: '#',
                  data: {
                    toggle: 'collapse',
                    target: "##{panel_id}"
                  },
                  aria: {
                    controls: panel_id
                  }
                ) do
              %>
                Credentials
              <% end %>
              <%=
                tag.div(
                  id: panel_id,
                  class: 'collapse'
                ) do
              %>
            <dl class="mt-2 card p-3 bg-light overflow-auto">
              <% credentials.each do |(k, v)| %>
                <dt><%= k -%></dt>
                <dd class="text-wrap text-break"><%= v -%></dd>
              <% end %>
            </dl>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
