<div class="<%= container_css_class if local_assigns.key? :container_css_class -%>">
  <% panel_id = "gettings-started-#{SecureRandom.hex(10)}" %>
  <%=
    tag.a(
      href: '#',
      data: {
        toggle: 'collapse',
        target: "##{panel_id}"
      },
      aria: {
        controls: panel_id
      }
    ) do
  %>
  <%= icon 'book' %>
  Getting started
  <%= icon 'caret-down', css_class: 'ml-1' %>
<% end %>
<%=
    tag.div(
      id: panel_id,
      class: 'collapse'
    ) do
  %>
<dl class="mt-2 card p-3 bg-light overflow-auto">
  <%- if integration.provider_id == 'git_hub' %>
    <pre class="mb-0" style="white-space:normal;">
      <code>
        $ git clone <%= resource.url %>.git
      </code>
    </pre>
    <% documentation_url = 'https://guides.github.com/' %>
  <% end %>
  <% if integration.provider_id == 'kubernetes' %>
    <pre class="mb-0" style="white-space:normal;">
      <code>
        $ kubectl get pods --namespace <%= resource.name %>
      </code>
    </pre>
    <% documentation_url = 'https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands' %>
  <% end %>
  <% if integration.provider_id == 'ecr' %>
    <pre class="mb-0" style="white-space:normal;">
      <code>
        $ docker build -t <%= resource.base_uri %><br>
        $ docker push <%= resource.base_uri -%>
      </code>
    </pre>
    <% documentation_url = 'https://docs.aws.amazon.com/AmazonECR/latest/userguide/ECR_AWSCLI.html' %>
  <% end %>
  <% if integration.provider_id == 'quay' %>
    <pre class="mb-0" style="white-space:normal;">
      <code>
        $ docker build -t <%= resource.base_uri %><br>
        $ docker push <%= resource.base_uri -%>
      </code>
    </pre>
    <% documentation_url = 'https://docs.quay.io/solution/getting-started.html' %>
  <% end %>
</dl>
<%= link_to 'Further docs', documentation_url, target: '_blank' %>
<% end %>
</div>
