<% credentials = global_credentials_for integration %>
<% if credentials.present? %>
  <div class="<%= container_css_class if local_assigns.key? :container_css_class -%>">
    <% panel_id = "credentials-panel-#{SecureRandom.hex(10)}" %>
    <%=
      tag.a(
        href: '#',
        data: {
          toggle: 'collapse',
          target: "##{panel_id}"
        },
        aria: {
          controls: panel_id
        }
      ) do
    %>
      <%= icon 'key' %>
      Setup access
      <%= icon 'caret-down', css_class: 'ml-1' %>
    <% end %>

    <%=
      tag.div(
        id: panel_id,
        class: 'collapse'
      ) do
    %>

      <dl class="mt-2 card p-3 bg-light overflow-auto">
        <%- if integration.provider_id == 'git_hub' %>
          <pre class="mb-0" style="white-space:normal;">
            <code>
              $ brew install git
            </code>
          </pre>
          <% documentation_url = 'https://guides.github.com/' %>
        <% end %>
        <% if integration.provider_id == 'kubernetes' %>
          <pre class="mb-0" style="white-space:normal;">
            <code>
              $ kubectl config set clusters.<%= integration.config['cluster_name'] %>.certificate-authority-data <%= integration.config['ca_cert'] %><br>
              $ kubectl config set-cluster <%= integration.config['cluster_name'] %> --server=<%= integration.config['api_url'] %><br>
              $ kubectl config set-credentials <%= integration.config['cluster_name'] %>-<%= integration.config['global_service_account_name'] %> --token=<%= integration.config['global_service_account_token'] %><br>
              $ kubectl config set-context <%= integration.config['cluster_name'] %>-<%= integration.config['global_service_account_name'] %> --cluster=<%= integration.config['cluster_name'] %> --user=<%= integration.config['cluster_name'] %>-<%= integration.config['global_service_account_name'] %>
            </code>
          </pre>
          <% documentation_url = 'https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands' %>
        <% end %>
        <% if integration.provider_id == 'ecr' %>
          <pre class="mb-0" style="white-space:normal;">
            <code>
              $ aws ecr get-login --region region --no-include-email
            </code>
          </pre>
          <% documentation_url = 'https://docs.aws.amazon.com/AmazonECR/latest/userguide/ECR_AWSCLI.html' %>
        <% end %>
        <% if integration.provider_id == 'quay' %>
          <pre class="mb-0" style="white-space:normal;">
            <code>
              $ docker login quay.io
            </code>
          </pre>
          <% documentation_url = 'https://docs.quay.io/solution/getting-started.html' %>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
