<% credentials = global_credentials_for integration %>
<% if credentials.present? %>
  <div class="<%= container_css_class if local_assigns.key? :container_css_class -%>">
    <% panel_id = "credentials-panel-#{SecureRandom.hex(10)}" %>
    <%=
      tag.a(
        href: '#',
        data: {
          toggle: 'collapse',
          target: "##{panel_id}"
        },
        aria: {
          controls: panel_id
        }
      ) do
    %>
      <%= icon 'key' %>
      Robot access
      <%= icon 'caret-down', css_class: 'ml-1' %>
    <% end %>

    <%=
      tag.div(
        id: panel_id,
        class: 'collapse'
      ) do
    %>
      <dl class="mt-2 card p-3 bg-light overflow-auto">
        <% credentials.each do |(k, v)| %>
          <dt><%= k -%></dt>
          <dd class="text-wrap text-break"><%= v -%></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>
