<div class="card app-resources">
  <div class="card-header">
    <strong>Resources</strong>
  </div>
  <div class="list-group list-group-flush">
    <% if app.resources.present? %>
      <% app.resources.each do |r| %>
        <div class="list-group-item">
          <p class="d-flex align-items-center">
            <%= icon resource_icon_name(r.class) %>
            <span class="font-weight-light">
              <%= r.classification %>
            </span>
            <%= tag.span(r.status, class: "badge badge-#{resource_status_class(r.status)} ml-auto") %>
          </p>
          <h4>
            <%= r.name %>
          </h4>
          <% unless r.pending? %>
            <p>
              <%- case r -%>
              <%- when Resources::CodeRepo -%>
                <%= r.private ? 'Private' : 'Public' %><br />
                <%= link_to r.full_name, r.url, target: '_blank' %>
              <%- end -%>
            </p>
          <% end %>
        </div>
      <%- end -%>
    <% else %>
      <li class="list-group-item text-center none-text">
        No resources yet
      </li>
    <% end %>
  </div>
</div>
