<h6 class="sidebar-heading pt-2">
  <%= nav_item 'Home', root_path %>
</h6>

<hr />

<h6 class="sidebar-heading">
  <%= link_to 'New', new_project_path, class: 'btn btn-sm btn-primary float-right mr-3' %>
  <%= nav_item 'Spaces', projects_path %>
</h6>
<ul class="nav flex-column mb-3">
  <% Project.order(:name).each do |project| %>
    <%= nav_list_item project.name, project_path(project), icon_name: 'cube' %>
  <% end %>
</ul>

<hr />

<h6 class="sidebar-heading">
  <%= nav_item 'Users', users_path %>
</h6>

<% if current_user.admin? %>
  <hr />

  <h6 class="sidebar-heading">
    <%= nav_item 'Integrations', admin_integrations_path %>
  </h6>

  <h6 class="sidebar-heading">
    <%= nav_item 'Settings', admin_settings_path %>
  </h6>
<% end %>
