<!DOCTYPE html>
<html>
  <head>
    <title>Appvia Hub</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= crisp_chat %>
  </head>

  <body>
    <%= render 'header' %>

    <div>
      <nav id="sidebar" class="col-3 bg-light">
        <div class="sidebar-sticky">
          <%= render 'sidebar-content' %>
        </div>
      </nav>

      <main role="main">
        <% if @autorefresh %>
          <%= render 'autorefresh' %>
        <% end %>

        <% if show_requires_setup? %>
          <%= render 'requires_setup' %>
        <% end %>

        <%= render 'flash' %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
